<form class="form-horizontal" id="add-doctor">
	<fieldset>

	<!-- Form Name -->
	<legend>Add Doctors</legend>

	<!-- Text input-->
	<div class="field">
	  <label class="label" for="docname">Doctor's Name</label>
	  <div class="control">
	    <input id="docname" name="docname" type="text" placeholder="Doctor's Name" class="input " required="">
	    
	  </div>
	</div>

	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="titleselect">Medical Title</label>
	  <div class="control">
	  	<div class="select">
		    <select id="titleselect" name="titleselect">
				{% for title in titles %}
				  <option selected value="null">Select a title</option>
				  <option value="{{ title.id }}">{{ title.name }}</option>
				{% endfor %}
		    </select>
		</div>
	  </div>
	</div>

	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="xpselect">Experience</label>
	  <div class="control">
	  	<div class="select">
		    <select id="xpselect" name="xpselect">
		      <option selected value="null">Select an experience</option>
		      {% for experience in experiences %}
				  <option value="{{ experience.id }}">{{ experience.name }}</option>
			  {% endfor %}
		    </select>
		</div>
	  </div>
	</div>


	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="docbranch">Branch Name</label>
	  <div class="control">
	  	<div class="select">
		    <select id="docbranch" name="docbranch" class="">
		      <option selected value="null">Branch name</option>
		      {% for branch in branches %}
				  <option value="{{ branch.id }}">{{ branch.name }}</option>
			  {% endfor %}
		    </select>
		</div>
	  </div>
	</div>

	</fieldset>
</form>
