<div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="../">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Doctor</a></li>
        </ul>
    </nav>
    <table class="table is-bordered is-hoverable">
		<thead>
			<tr>
		      <th>Name</th>
		      <th>Title</abbr></th>
		      <th>Qualifications</th>
		      <th><abbr title="Joining Date">Date</abbr></th>
		      <th>Branch</th>
		    </tr>
		</thead>
		<tbody>
			{% for doctor in doctors %}
			<tr>
				<td>{{ doctor.name }}</td>
				<td>{{ doctor.titleid }}</td>
				<td>{{ doctor.xplevel }}</td>
				<td>{{ doctor.joining_date | date('jS F Y') }}</td>
				<td>{{ doctor.branchid }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
